/* General button display */

:root{
    --primary-color: #026C00;
    --primary-dark-color: #013C00;
    --primary-light-color: #079504;
    --primary-color-text: #fff;
    --secondary-color: #F7C346;
    --secondary-dark-color: #DCAC0D;
    --secondary-light-color: #FFDF77;
    --secondary-color-text: #000;
    --color-text: #fff;
}

button{
    min-width: 15vw;
    width: 100%;
    /* min-width: 311px; */
    height: 56px;
    border: none;
}

button:hover{
    cursor: pointer;
}

button[disabled]{
    pointer-events: none;
    opacity: 0.5;
    color: #fff;
}

/* Different button modes */

/* Primary */

.primary{
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

.primary:hover{
    background-color: var(--primary-light-color);
}

.primary:active{
    background-color: var(--primary-dark-color);
}

/* Secondary */

.secondary{
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
}

.secondary:hover{
    background-color: var(--secondary-light-color);
}

.secondary:active{
    background-color: var(--secondary-dark-color);
}

/* Different button displays */

.display-icon{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Loading Settings */

.dots-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dots-container div{
    width: 0.25rem;
    height: 0.25rem;
    margin: 0 0.15rem;
    border-radius: 50%;
    animation: swing 1s ease-in-out infinite;
}

.primary-dots div{
    background-color: var(--primary-color-text);
}

.secondary-dots div{
    background-color: var(--secondary-color-text);
}

@keyframes swing {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);
    }
}

.dots-container div:nth-child(1){
    animation-delay: 0s;
}
.dots-container div:nth-child(2){
    animation-delay: 0.3s;
}
.dots-container div:nth-child(3){
    animation-delay: 0.6s;
}

/* Icon Settings */

.refresh-icon {
    filter: invert(99%) sepia(0%) saturate(2440%) hue-rotate(111deg) brightness(121%) contrast(100%);
}