body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2vw;
    background-color: #EBEADF;
}

.page-title{
    font-weight: 400;
}

.title-description{
    max-width: 40%;
    margin-bottom: 7vh;
}

.page-topic{
    font-weight: 400;
}

.sub-topic{
    text-decoration: underline;
}

.button-group{
    display:flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 5vh;
}